<ReactBridge
  @reactComponent={{this.reactExample}}
  @props={{hash text="Hello from props" data-test-example="true"}}
  class="class-from-bridge"
>
  <p>Hello from children</p>
</ReactBridge>

<ReactBridge
  @reactComponent={{this.reactExample}}
  {{! @glint-expect-error: the SafeString transformation is not properly typed }}
  @props={{hash text=this.safeText data-test-example="true"}}
  class="class-from-bridge"
/>

<ReactBridge
  @reactComponent={{this.reactExample}}
  @props={{hash children=this.reactExample}}
/>

<ReactBridge
  @reactComponent={{this.reactExample}}
  @props={{hash children="Children as Props"}}
/>